.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-textfield {
  position: relative;
}

label {
  position: absolute;
  font-size: 1rem;
  width: fit-content;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.2s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.fancy-input {
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: gray;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.fancy-input:focus {
  border-color: blue;
}
.fancy-input:focus + label {
  color: blue;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.fancy-input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.error {
  border-color: red !important ;
  color: red !important;
}

.alert-input {
  direction: rtl;
  font-size: 12px;
  color: red;
}
