@import "../constants/styleVariables.scss";

.chat-container {
  @include container;
}

.count-down-container {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.count-down-container p,
span {
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}

@media (max-width: $large) and (min-width: $small) {
  .chat-container {
    @include container_responsvie;
  }
}
