@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

@mixin show_image {
  display: block;
}

@mixin hide_image {
  display: none;
}

@mixin header_title {
  text-align: center;
}

@mixin text_link {
  text-align: center;
  text-decoration: none;
  color: cornflowerblue;
  cursor: pointer;
}

@mixin btn {
  background-color: rgb(121, 167, 251);
  margin-top: 70px;
  padding: 10px 45px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@mixin dot_container {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

@mixin dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background-color: #bbb;
  border-radius: 60%;
}

@mixin active_dot {
  background-color: rgb(121, 167, 251);
  height: 15px;
  width: 15px;
}
