@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

@mixin show_image {
  display: block;
}

@mixin hide_image {
  display: none;
}

@mixin header_title {
  text-align: center;
}

@mixin text_link {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: cornflowerblue;
  cursor: pointer;
}

@mixin btn {
  background-color: rgb(121, 167, 251);
  margin-top: 70px;
  padding: 10px 45px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

@mixin dot_container {
  display: flex;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

@mixin dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  background-color: #bbb;
  border-radius: 60%;
}

@mixin active_dot {
  background-color: rgb(121, 167, 251);
  height: 15px;
  width: 15px;
}

@mixin errors {
  border-color: red !important ;
  color: red !important;
}

@mixin alert-input {
  direction: rtl;
  font-size: 12px;
  color: red;
}
/// responsive ///

$large: 768px;
$small: 320px;

@mixin container_responsvie {
  margin-top: 8%;
}

@mixin show_image_responsvie {
  width: 180px;
  display: block;
}

@mixin header_title_responsvie {
  font-size: 14px;
  font-weight: 500;
}

@mixin text_link_responsvie {
  font-size: 13px;
  font-weight: 500;
}

@mixin btn_responsvie {
  margin-top: 25px;
  padding: 8px 35px;
  font-size: 18px;
  font-weight: 500;
}

@mixin dot_container_responsvie {
  margin-top: 25px;
  margin-bottom: 25px;
}

@mixin dot_responsvie {
  display: inline-block;
  height: 7px;
  width: 7px;
  margin-left: 8px;
}

@mixin active_dot_responsvie {
  height: 11px;
  width: 11px;
}
