@import "../constants/styleVariables.scss";

.img-large {
    @include show_image;
  }
  
  .img-small {
    @include hide_image;
  }
  
  @media (max-width: 768px) and (min-width: 320px) {
    .img-large {
      @include hide_image;
    }
  
    .img-small {
      @include show_image;
    }
  }