@import "../constants/styleVariables.module.scss";

.dot-container {
  @include dot_container;
}

.dot,
.active-dot {
  @include dot;
}

.active-dot {
  @include active_dot;
}

@media (max-width: $large) and (min-width: $small) {
  .dot-container {
    @include dot_container_responsvie;
  }
  .dot,
  .active-dot {
    @include dot_responsvie;
  }

  .active-dot {
    @include active_dot_responsvie;
  }
}
