.app-wrapper {
  width: 100%;
}

.app-container {
  box-sizing: border-box;
  max-width: 1600px;
  width: 50%;
  height: 100vh;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}