.loading-container {
  width: 100%;
}

.loading {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1600px;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

@keyframes example {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.kavano-logo-large {
  animation-name: example;
  animation-duration: 2.5s;
  animation-delay: 1s;
  display: block;
}


.kavano-logo-small {
  display: none;
}


@media (max-width: 768px) and (min-width: 320px) {
  .kavano-logo-large {
    display: none;
  }

  .kavano-logo-small {
    display: block;
  }
}